<ng-content select="header"></ng-content>
<br>
<h1 class="text-center">Title from parent : {{title}}</h1>
<div class="container">
    <div>Counter in user compo : {{userService.counter}}</div>
    <button type="button" class="btn btn-primary" (click)="userService.increase()">Increase</button>
    <ul class="list-unstyled">
        <li class="well" *ngFor="let user of users; index as i;first as isFirst; last as isLast; even as isEven; odd as isOdd">
            <div class="row">
                <div class="col-md-2">
                    <img [src]="user.image" alt="" class="img-responsive img-circle" />

                    <button class="btn btn-info btn-sm" (click)="moreInfo(user)">More Info</button>
                </div>
                <div class="col-md-7">
                    <p *appUnless="user.isWorking">
                        Income : {{user.income }}
                    </p>
                    <h1 appHighlight [myColor]="myColor">{{user.firstName | uppercase}} {{user.lastName}}</h1>
                    <p *ngIf="user.isWorking; else elseTemplate">Income: {{user.income| currency: 'EUR'}}</p>
                    <ng-template #elseTemplate>
                        <p> {{user.firstName}} is not working now</p>
                    </ng-template>
                    <!--  Using interpolation-->
                    <!-- <p [ngClass]="{'myBorder': isEven,'decoration': isOdd}">Date of Birth: {{user.dob}}</p> -->
                    <p [ngClass]="myBorderStyle">Date of Birth: {{user.dob | date: 'dd/MMM/yyyy'}}</p>
                    <!-- Property Binding -->
                    <p>Date of Birth :
                        <span [innerHtml]="user.dob"></span>
                    </p>
                    <input type="text" [(ngModel)]="title" />
                    <!-- <p [ngSwitch]="title">
                            <span *ngSwitchCase="'app'">title unchanged </span>
                            <span *ngSwitchCase="'ap'">title changed </span>
                            <span *ngSwitchDefault>nothing changed </span>
                        </p> -->
                </div>
                <div class="col-md-2">
                    <em> Total Votes: {{user.vote}}
                        <input type="number" class="row" [(ngModel)]="user.vote" />
                    </em>
                </div>
            </div>
        </li>
    </ul>
</div>

<ng-content select="footer"></ng-content>